Sujet-BE2-23-24.pdf
/Data/
__pycache__/DecisionTableClassifier.cpython-312.pyc
__pycache__/prism_rules.cpython-312.pyc
__pycache__/RepTree.cpython-312.pyc
Support/be2-24-25.pdf
Support/Demo-association-rules-Apriori-2024-25.ipynb
Support/Reg-log.ipynb
Support/Regression-log-titanic-24-25.ipynb
Support/RepTree_eleve.ipynb
Support/SVM.ipynb
Support/data/Advertising.csv
Support/data/GroceryStoreDataSet.csv
Support/data/meteo-gini.png
Support/data/meteo-gini2.png
Support/data/meteo-gini3.png
Support/data/meteo-gini4.png
Support/data/out1.csv
Support/data/spambase_binary.arff
Support/data/titanic_test.csv
Support/data/titanic_train.csv
Support/data/weather.csv
Support/image/bishop.png
Support/image/bishop2.png
Support/image/calculMarge.png
Support/image/dual.png
Support/image/gaussien.png
Support/image/lagrange.png
Support/image/meteo-gini.png
Support/image/meteo-gini2.png
Support/image/meteo-gini3.png
Support/image/meteo-gini4.png
Support/image/noyaux.png
Support/image/polynomial.png
Support/image/sigmoide.png
Support/image/svm.png
